assets/schemas/xmlschematarea.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parametro">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="nombre" use="optional"/>
          <xs:attribute type="xs:string" name="tipo" use="optional"/>
          <xs:attribute type="xs:string" name="obligatorio" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="comando" type="xs:string"/>
  <xs:element name="parametros">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parametro" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tarea">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="comando"/>
        <xs:element ref="parametros"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="nombre"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
